<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="list-group"> #табло с новыми сообщениями
    <li class="list-group-item">Новые сообщения..</li>

    <li class="list-group-item">(Имя)
    <button type="button" class="list-group-item list-group-item-action">(часть сообщения)</button> #Связка имени и сообщения
    </li>
  <button type="button" class="list-group-item list-group-item-action">A third button item</button>
  <button type="button" class="list-group-item list-group-item-action">A fourth button item</button>
  <button type="button" class="list-group-item list-group-item-action" disabled>A disabled button item</button>
</div>

</body>
</html>