<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div class="d-flex flex-column bd-highlight mb-3">
  <a href="#" class="list-group-item list-group-item-action active" aria-current="true">
    новые сообщения
  </a>
    <div class="list-group">
    <div class="p-2 bd-highlight">(Имя)</div>
  <div class="p-2 bd-highlight">(Часть сообщения)</div>
  </div>
<div class="d-flex flex-column bd-highlight mb-3">
  <div class="p-2 bd-highlight">(Имя)</div>
  <div class="p-2 bd-highlight">(Часть сообщения)</div>
  </div>
<div class="d-flex flex-column bd-highlight mb-3">
  <div class="p-2 bd-highlight">(Имя)</div>
  <div class="p-2 bd-highlight">(Часть сообщения)</div>
  </div>
</div>

</body>
</html>