{% extends "base.html" %}
{% block content %}
<div class="d-flex justify-content-center">
    <div class="bg-secondary py-4 w-5 position-absolute"  style="border-radius: 10px;">
        <div class="d-flex justify-content-center">
                <form action="/login" method="post">
                    <span style="font-size: 30px; font-weight: bolder;" class="d-flex justify-content-center my-3">Log in to your account</span>
                        <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label" >Email address</label>
                            <input name="email" type="email" class="form-control w-200" id="exampleInputEmail1" aria-describedby="emailHelp">
                        </div>
                        <div class="mb-3">
                            <label for="exampleInputPassword1" class="form-label " >Password</label>
                            <a href="" style="font-size: smaller; margin-left: 70px">Forgot password ?</a>
                            <input name="password" type="password" class="form-control w-200" id="exampleInputPassword1">
                           <div class="form-container"> #Забыли пароль
                                <form action="#" method="POST" class="form-wrap">
                                    <h2>Forgot Password</h2>
                                    <div class="form-submit">
                                        <input type="submit" value="Send"
                                    </div>
                                </form>
                            </div>
                            <div/>
                        <button type="submit" class="btn btn-success w-100">Sign in </button>
                    <a href="http://127.0.0.1:5000/registration" class="btn btn-light border border-dark" >Create an account</a>
                    </form>
            </div>
    </div>
</div>
{% endblock %}
