{% extends "base.html" %}
{% block content %}
<div class="bg-secondary py-4 "  style="margin: 0px 650px; border-radius: 10px;">
    <div class="d-flex justify-content-center">
<div class="d-flex justify-content-center"  style="margin: 0px auto; border-radius: 10px; border: solid gray; padding: 30px; width: 23%">
        <div class="d-flex justify-content-center ">
            <form action="" method="post">
                <span style="font-size: 30px; font-weight: bolder;" class="d-flex justify-content-center my-3">Log in to your account</span>
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label" >Email address</label>
                        <input type="email" class="form-control w-200" id="exampleInputEmail1" aria-describedby="emailHelp">
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label " >Password</label>
                        <a href="" style="font-size: smaller; margin-left: 70px">Forgot password ?</a>
                        <input type="password" class="form-control w-200" id="exampleInputPassword1">
                    </div>
                    <button type="submit" class="btn btn-success w-100">Sign in </button>
                </form>
        </div>
</div>
<button type="button" class="btn btn-light border border-dark" style="width: 590px; margin: 20px 985px">
            <a href="http://127.0.0.1:5000/registration" class="text-dark" >Create an account</a>
</button>

    </div>
</div>
{% enblock %}
