<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="http://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
{% extends "base.html" %}
{% block content %}
<div class="d-flex justify-content-center my-3 py-4 px-1" style="margin: 0 650px; border-radius: 10px; background: lightblue">
         <form action="" method="post" class="mx-2">

                  <div class="mb-3" >
                    <label class="form-label">Email address</label>
                    <input type="email" class="form-control"  aria-describedby="emailHelp" name="email" style="width: 300px">
                  </div>
                  <div class="mb-3">
                    <label  class="form-label">Password</label>
                    <input type="password" class="form-control w-200" name="password" style="width: 300px">
                  </div>
                  <div class="mb-3">
                    <label class="form-label">Repeat password</label>
                    <input type="password" class="form-control w-200" name="repeat_password" style="width: 300px">
                  </div>
                  <div class="mb-3 form-check">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label" for="exampleCheck1">Remember password</label>
                  </div>
                  <button type="submit"  class="btn btn-primary" style="display: block;
        width: 100%;
        text-align: center;" >Create an account</button>
        </form>
    </div>
{% endblock %}
</body>
</html>