<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head><div>
    <style>
        #Untitled {
            position: fixed;
            right: 0;
            bottom: 0;
            min-width: 100%;
            min-height: 100%;
        }
    </style>
<body>
    <video autoplay muted loop id="Untitled">
        <source src = "../static/start.mp4" type="Untitled (6).mp4">
    </video>
     <div class="container">
        <span class="text">Welcome to AllinOne.</span>
     </div>
</body>
</html>