<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>AllInOne</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
</head>

    <style>
        #Untitled {
            position: fixed;
            right: 0;
            bottom: 0;
            min-width: 100%;
            min-height: 100%;
        }
    </style>
<body>
<a href="/login.html"><img src="../static/home_logo.png"></a>
    <video autoplay muted loop id="Untitled">
        <source src = "../static/start.mp4" type="video/mp4">
    </video>

    <div class="text-center position-absolute top-50 start-50 translate-middle" style="color:#ffffff">
        <div>
            <span style="font-size: 25px">
                ALL IN ONE
            </span><br>
            <a href="/login">
                <img class="rounded" src="../static/home_logo.png" width="35" height="35">
            </a>
        </div>
    </div>

</body>
</html>