<!DOCTYPE html>
{% block title %}AllInOne{% endblock%}
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<button type="button" class="btn btn-secondary">Домой</button>
    <style>
        #Untitled {
            position: fixed;
            right: 0;
            bottom: 0;
            min-width: 100%;
            min-height: 100%;
        }
    </style>
<body>
    <video autoplay muted loop id="Untitled">
        <source src = "../static/start.mp4" type="video/mp4">
    </video>

    <a href=start.html><img src="home_logo"></a>

</body>
</html>